<!DOCTYPE html>
<html>
    <head>
        <title>Harry Potter</title>
        <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>

    <body>
        
    <div class="ui container">
        <div class="ui massive inverted segment">
          <div class="ui inverted secondary pointing menu">
            <div class="item">
              <img class="ui mini image" src="/images/hogwarts.png"></img>
            </div>
            <a href="/" class="header active item">
              Harry Potter
            </a>
            <a href="/characters" class="item">
              Characters
            </a>
            <a href="/characters/new" class="item">
              Add
            </a>
            
            <div class="right menu">
              <% if(!currentUser) { %>
                <a href="/login" class="item">
                  Login
                </a>
                <a href="/register" class="item">
                  Sign Up
                </a>
              <% } else { %>
                <a href="/logout" class="item">
                  Logout
                </a>
              <% } %>
            </div>
         </div>
    </div>
 </div>
 
 <% if (error && error.length > 0){ %>
    <div class="ui main text container inverted segment">
      <div class="ui tiny negative message">
      <div class="header">
        <%= error %>
      </div>
      </div>
    </div>
 <% } %>
 
  <% if (success && success.length > 0){ %>
    <div class="ui main text container inverted segment">
      <div class="ui tiny positive message">
      <div class="header">
        <%= success %>
      </div>
      </div>
    </div>
 <% } %>
