<% include ../partials/header %>



<div class="ui main text container inverted segment">
    <h1>Edit your comment</h1>
    <div class="ui inverted form">
        <form action = "/characters/<%= character_id %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="ui form">
            
          <div class="field">
            <label>Comment</label>
            <textarea name = "comment[text]"> <%= comment.text %></textarea>
          </div>
          
          <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>