<% include ../partials/header %>



<div class="ui main text container inverted segment">
    <h1>Add a comment to <%= character.name %></h1>
    <div class="ui inverted form">
        <form action = "/characters/<%= character._id %>/comments" method="POST" class="ui form">
            
            <!--Text inputs-->
            
          <div class="field">
            <label>Name</label>
            <input name = "comment[author]" type = "text" placeholder="name">
          </div>
          
          <div class="field">
            <label>Comment</label>
            <input name = "comment[text]" type = "text" placeholder="photo">
          </div>
          
          
          <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>
<% include ../partials/footer %>