<% include ../partials/header %>



<div class="ui main text container inverted segment">
    <h1>Add a comment to <%= character.name %></h1>
    <div class="ui inverted form">
        <form action = "/characters/<%= character._id %>/comments" method="POST" class="ui form">
            
          <div class="field">
            <label>Comment</label>
            <textarea name="comment[text]"></textarea>
          </div>
          
          <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>