<% include ../partials/header %>

<div class="ui container">
    
    <h1>Characters</h1>


    <div class="ui three column doubling stackable grid">
        <% characters.forEach(function(character){ %>
      <div class="column">
        <div class="ui segment my-card">
            <div class="ui items customtext">
                    <div class="item">
                      <div class="ui small image">
                        <img class="portrait" src="<%= character.photo %>">
                      </div>
                      <div class="content">
                        <h3><%= character.name %></h3>
                        <div>
                          <p><%= character.description.substring(0, 100)%>...</p>
                        </div>
                        <div class="extra">
                          <a class="ui compact small brown button" href="/characters/<%= character._id %>">Read more</a> 
                        </div>
                        </div>
                    </div>
              </div>
          </div>
        </div>
        <% }) %>
    </div>
    
    
<% include ../partials/footer %>